body {
  background-color: #121435;
  font-family: "Titillium Web";
}

section {
  padding-top: 325px;
  height: 955px;
  width: 500px;
  background-color: #faf9f0;
}

header {
  margin: auto;
  height: 350px;
  width: 400px;
  background-color: #121435;
}

.header1 {
  margin-left: 60px;
  height: 200px;
  width: 75px;
  background-color: #faf9f0;
}

.header2 {
  margin-left: 245px;
  height: 100px;
  width: 100px;
  background-color: #faf9f0;
}

.header3 {
  margin-left: 210px;
  height: 125px;
  width: 50px;
  background-color: #faf9f0;
}

article {
  float: right;
  height: 500px;
  width: 880px;
  background-color: #121435;
  margin: 250px 250px 0 0;
  border: 5px solid #ff5722;
  border-radius: 10px;
}

.title {
  margin: 5px auto;
  height: 100px;
  width: 483px;
  border: 1px solid transparent;
}

.title h1 {
  margin: 0px auto;
  color: #faf9f0;
  font-size: 60pt;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 5px solid white;
}

.form {
  margin: 35px auto;
  height: 310px;
  width: 700px;
  border: 1px solid transparent;
  color: #faf9f0;
}

.form label {
  margin-left: 280px;
  padding: 20px 0 0 5px;
  font-size: 20pt;
  font-weight: bold;
  border: 1px solid transparent;
}

.form input {
  margin: auto;
  width: 650px;
  font-size: 20pt;
  font-weight: bold;
}

.form p {
  margin: 10px auto;
  width: 201px;
  border: 1px solid transparent;
}
